package {{ index .GetMetadata "package" }}

import (
	"context"
	"encoding/json"
	"errors"
	"fmt"
	"io"
	"net/http"
	"net/url"

	// TODO these dependencies are needed only when certain parameters are used
	"strconv"
	"strings"

	"github.com/google/go-querystring/query"
)

{{- range $name, $operation := .Operations }}
func (c *Client) {{ $operation.GetName | SanitiseName }}(ctx context.Context, params *{{ $operation.GetName | SanitiseName }}Parameters, body *{{ $operation.RequestBody.GetName | SanitiseName }}) (ret *{{ $operation.GetName | SanitiseName }}Response, err error) {
    if ctx == nil {
        ctx = context.Background()
    }
    var payload io.Reader = nil
    {{- if eq $operation.Name "POST" }}
    if body != nil {
        data, err := json.Marshal(body)
        if err != nil { // This serves as our validation, for now
            return nil, err
        }
        payload = bytes.NewReader(data)
    } else {
        return nil, errors.New("(c *Client) {{ $operation.OperationId }} :: post operation with nil body")
    }
    {{- end }}
    var vals url.Values
    if params != nil {
        vals, err = query.Values(params) // TODO this only works if we generate url tags for our param structs
        if err != nil {
            return nil, err
        }
    } else {
        return nil, errors.New("(c *Client) {{ $operation.OperationId }} :: nil params")
    }
	pathPattern := "{{ .GetParent.Name }}"
	{{- range $param := $operation.Parameters }}
    {{- if eq ($param.In | ToTitle) "Path" }}
    strings.Replace(pathPattern, "{ {{- $param.ParamName -}} }", params.{{ $param.ParamName | ToTitle }}, -1)
    {{- end }}
	{{- end }}
	URL := c.createUrl(pathPattern, vals)
	req, err := http.NewRequestWithContext(ctx, http.Method{{ $name | ToTitle }}, URL.String(), payload)
	if err != nil {
		return nil, err
	}
	req.Header.Add("Content-Type", c.cfg.ContentType)

    if c.auth != nil {
        c.auth(req)
    }

	res, err := c.Do(req)
	if err != nil {
		return nil, err
	}
	if res.StatusCode < 200 || res.StatusCode > 399 {
		return nil, fmt.Errorf("status code check failed :: url %s :: returned %d", URL.String(), res.StatusCode)
	}

	defer res.Body.Close() // TODO figure out how to bubble this error up for checking

	responseBytes, err := io.ReadAll(res.Body)
	if err != nil {
		return nil, err
	}

    // TODO this is currently broken
	err = json.Unmarshal(responseBytes, &ret)
	if err != nil {
		return nil, err
	}
	return ret, nil
}
{{- end }}

