func RegisterServer(e *gin.Engine, srv Server) {
	{{- range . }}
	e.{{ .Method | ToUpper }}("{{ .Path }}", func(c *gin.Context) {
		request := &models.{{ .Name }}{{ .Method }}Request{}

		{{- range .Parameters }}
		param{{ .Name | ToTitle }} :=
			{{- if eq .In "path" }} c.Param("{{ .Name }}") {{- end -}}
			{{- if eq .In "query" }} c.Query("{{ .Name }}") {{- end }}
		if param{{ .Name | ToTitle }} != "" {
		{{ if eq .Type "*bool" }}
			is{{ .Name | ToTitle }} := param{{ .Name | ToTitle }} == "true"
			request.{{ .Name | ToTitle }} = &is{{ .Name | ToTitle }}
		{{ else }}
			request.{{ .Name | ToTitle }} = param{{ .Name | ToTitle }}
		{{ end }}
		}

		{{- end }}

		{{- if ne .RequestBody.Type "" }}
		if err := c.ShouldBindJSON(&request.Body); err != nil {
		c.JSON(http.StatusBadRequest, err)
			return
		}
		{{- end }}

		if err := request.IsValid(); err != nil {
			c.JSON(http.StatusBadRequest, err)
			return
		}

		response := srv.{{ .Name }}{{ .Method }}(c, request)
		c.JSON(response.GetStatus(), response)
	})
	{{- end }}
}