type {{ .Name }}{{ .Method }}Request struct {
{{- range .Parameters }}
	{{ .Name | ToTitle }} {{ .Schema.Type }}
{{- end }}
	{{ if ne .RequestBody.Name ""}}Body {{ .RequestBody.Name }}{{ end }}
}


{{ if ne .RequestBody.Name ""}}{{ template "request_body.tmpl" .RequestBody }}{{ end }}