{{ $interface := .Responses.Interface }}
type {{ $interface }} interface {
	mustImplement{{ .Responses.Interface }}()
	GetStatus() int
}

{{ range .Responses.Responses }}
type {{ .Name }} struct {
	{{- range $name, $schema := .Schema.Properties }}
	{{ $name | Sanitize| ToTitle }} {{ Type $schema }} `json:"{{ $name }}"`
	{{- end }}
}
func ({{ .Name}}) mustImplement{{ $interface }}(){}

func ({{ .Name }}) GetStatus() int {
	return {{ .StatusCode }}
}
{{ end }}