class Client
  def initialize(base_url, auth = nil, content_type = 'application/json', debug = false)
    @base_url = base_url
    @auth = auth
    @content_type = content_type
    @debug = debug
  end
end