{{- range . }}
type {{ .Name }}{{ .Method }}Request struct {
{{- range .Parameters }}
	{{ .Name }} {{ .Schema.Type }}
{{- end }}
}

func (req {{ .Name }}{{ .Method }}Request)valid() error {
	return nil
}

type {{ .Name }}{{ .Method }}Response struct {}
{{- end }}