func RegisterServer(e *gin.Engine, srv Server) {
	{{- range . }}
	e.{{ .Method | ToUpper }}("{{ .Path }}", func(c *gin.Context) {
		request := &models.{{ .Name }}{{ .Method }}Request{
		{{- range .Parameters }}
			{{ .Name | ToTitle }}: c.Param("{{ .Name }}"),
		{{- end }}
		}
		if err := request.Valid(); err != nil {
			c.JSON(http.StatusBadRequest, err)
			return
		}

		response, err := srv.{{ .Name }}{{ .Method }}(request)
		if err != nil {
			c.JSON(http.StatusInternalServerError, err)
			return
		}
		c.JSON(http.StatusOK, response)
	})
	{{- end }}
}