package api

import (
	"net/http"

	"github.com/gin-gonic/gin"
)

{{ template "server_interface.tmpl" . }}

{{ template "unimplemented_server.tmpl" .}}

{{ template "models.tmpl" .}}

{{ template "register_server.tmpl" .}}
