      summary: "{{ .Summary }}"
      description: "{{ .Description }}"
      tags:
      {{ range .Tags }}- {{ . }}{{ end }}
      operationId: {{ .OperationId }}
      parameters: []
      responses: {}